html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}
body {
  line-height: 1;
  font-family: Rubik, sans-serif;
  font-size: 1.6rem;
  color: #331b06;
  background-color: #fcede0;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************
  REUSABLE COMPONENTS
*****************************/

.container {
  padding-right: 7.5%;
  padding-left: 7.5%;
}

.grid {
  display: grid;
  gap: 4rem;
}
.grid:not(:last-child) {
  margin-bottom: 8rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  line-height: 0.9;
}
.heading-secondary {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 8rem;
  line-height: 1;
}
.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  line-height: 1.1;
}
.subheading {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #e67e22;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 4px;
  transition: all 0.3s;
}

.btn--form {
  box-sizing: border-box;
  cursor: pointer;
  color: #fcede0;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: #331b06;
  border: none;
  padding: 1.2rem;
  align-self: end;
}
.btn--form:hover {
  background-color: #fcede0;
  color: #331b06;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #e67e22;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  border-bottom-color: transparent;
  color: #ea9042;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #ea9042;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #331b06;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #ffffff66;
  box-shadow: inset 0 0 0 2px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
.margin-bottom-md {
  margin-bottom: 3.2rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

.list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}
.list-icon {
  color: #e67e22;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(230, 125, 34, 0.5);
}
